@use 'src/styles/mixins';
@use 'src/styles/vars';

.loader-container {
    width: 100%;
    height: 100%;
    padding: 20% 0;
}   

.loader {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    background: vars.$dark;
    transform-style: preserve-3d;
    animation: turn 2.5s ease-out infinite;

    @include mixins.tablet {
        width: 100px;
        height: 100px;
    }

    &__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        backface-visibility: hidden;
    }

    &__face--recto {
        background: #111;
    }

    &__face--verso {
        background-color: vars.$green;
        transform: rotateY(180deg);
    }
    
}

@keyframes turn{
    0% {
        transform: translateX(-50%) rotateY(0) rotateX(0);
    }
    25% {
        transform: translateX(-50%) rotateY(180deg) rotateX(0);
    }
    50% {
        transform: translateX(-50%) rotateY(180deg) rotateX(180deg);
    }
    75% {
        transform: translateX(-50%) rotateY(360deg) rotateX(180deg);
    }
    100% {
        transform: translateX(-50%) rotateY(360deg) rotateX(360deg);
    }
}