@use 'src/styles/vars';

.genre-tags {
    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.genre-tag {
    font-family: 'Gugi';
    transition: vars.$time_down;
    text-align: center ;    
    background-color:vars.$dark;
    color: vars.$light;
    border: vars.$green 2px solid;    
    cursor:pointer;
    white-space:nowrap;
    width: auto;
    height: 2em;
    margin: 0.2em;
    border-radius: 2em;    
    padding:0.35em 1em 0em 1em;  
    font-size: 1.1em;
    &:hover{
        transition: vars.$time_up;
        transform:translateY(-2px) scale(1.05);    
        background-color:vars.$green_dark;
    }
}