$green: #2DBF84;
$green_dark: #206b4c;
$green_hilight: #48d89c;

$dark0: #111;
$dark: #232323;
$dark2: #333;
$dark3: #454040;
$light: #E9E9E9;
$medium: #B0A9A9;
$darkerMedium: #454040;
$inputsDepth: #585555;

// Transitions time for animations
$time_up:30ms;
$time_down:200ms;