@use 'reset';
@use 'vars';

body {
  //font-family: 'Abril Fatface';
  font-family: 'Montserrat';
  //font-family: 'Open Sans' ;
  //font-family: 'Fredoka One';
  //font-family: 'Gugi';
}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  */