.app {
}
.fake-header{
    height:64px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position:sticky;
    top:0px
}
.fake-footer{
    height:64px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}