.research {
    width: 90%;
    margin: auto;
    text-align: center;

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    &__paragraph {

    }
}