@use 'src/styles/vars';
@use 'src/styles/mixins';

.nav {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: vars.$dark;
    transform: translateY(-75%);
    z-index: 0;
    transition: transform 1s;

    &--open {
        transform: translateY(10%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        padding-top: 2rem;
    }

    &__list-item {
        padding: 1.5rem 0;
        text-align: center;
        border-top: 1px solid vars.$green;
    }
}

@include mixins.tablet {
    .nav {
        position: unset;
        width: unset;
        transform: unset;
        z-index: unset;
        background: transparent;
    }

    .nav__list {
        width: unset;
        flex-direction: row;
        padding-top: 0;
        
    }

    .nav__list-item {
        border: none;
        padding: 1.5rem;
        background: linear-gradient(130deg,vars.$green 0%, vars.$green 48%, #111 47%, #111 53%, vars.$green 52%, vars.$green 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-size: 500%;
        background-position: 100%;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: transform .4s;

        &:hover {
            animation: background-flash 2s ease-out;
            transform: scale(1.06);
        }
    }
}

@include mixins.desktop {
    .nav__list-item {
        padding: 1.5rem 3.5rem;
        font-size: 1.3rem;
    }
}

@keyframes background-flash {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}