@use 'src/styles/vars';
@use 'src/styles/mixins';

.footer {
    background: vars.$dark;
    color: vars.$green;
    padding: 1rem 0;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    width: 100%;


    &__list {
        display: flex;
        justify-content: space-around;
    }
}

@include mixins.desktop {
    .footer__list {
        width: 80%;
        margin: auto;
    }
}